body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: #ca7171;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #1f2937;
  color: white;
  padding:15px 30px;
  border: #1f2937 solid 10px;
}
.nav-links{
  list-style: none;
  display: flex;
  gap: 25px;
  margin:0px;
  padding:0px
}
.nav-links a{
  color: #ffffff;
  text-decoration: none; 
  font-size: 40px;
}
.nav-links a:hover{
  color: orange;
  text-decoration: underline;
}
.logo{
  mix-blend-mode: multiply;
}
.hero{
  display: flex;
  flex-wrap: wrap;
}
.left{
  flex: 5;
  padding: 30px;
  background-color: #1f2937;
  border: #1f2937 solid 10px;
}
.right{
  flex: 4;
  padding: 1px;
  background-color: #1f2937;
  border: #1f2937 solid 100px;
}
.right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border: #1f2937 solid 1px;
}
.left{
  align-items: flex-start;
  
}
#text-hero{
  font-size: 18px;
  color: #efe7eb;
  padding: 0px 10px;
  margin: 15px 40px;
  align-self: center;
  justify-self: center;
}
#hero-header{
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  padding: 0px 10px;
  margin: 20px 40px;
}
#header-img{
  width: 90%;
  height: auto;
  padding: 50px 10px;
  margin: 0px 40px;
}
img{
  width: 100%;
  height: auto;
}
